body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%; /*10/16=62.5%*/
}

body {
  font-size: 12px;
  font-size: 1.2rem; /*12/10=1.2*/
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: env(safe-area-inset-bottom);
}

p {
  font-size: 14px;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .hi-container {
    width: 750px;
  }
  .content {
    width: 750px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .content {
    width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 980px;
    margin: 0 auto;
  }
}

/* header */
.nav {
  width: 100%;
  background-color: hsla(0, 0%, 19%, 0.4);
  box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-header {
  margin: 0;
  padding: 0;
  width: 30rem;
  height: 3.8rem;
  display: inline-block;
  cursor: pointer;
}

.nav-item {
  display: inline-block;
  width: 4.5rem;
  height: 3.8rem;
  line-height: 3.8rem;
  text-align: center;
  position: relative;
}

.nav-item-text {
  display: inline-block;
  width: 4.5rem;
  height: 3.8rem;
  line-height: 3.8rem;
  position: relative;
}

.nav a {
  color: #fff;
  display: block;
}

.nav-logo {
  display: inline-block;
  height: 3.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.3rem;
}

.nav-item > .nav-dropmenu {
  display: none;
  position: absolute;
  top: 3.8rem;
  left: 0;
  width: 9rem;
  max-height: 50rem;
  background-color: rgb(46, 45, 45);
  opacity: 0.9;
  z-index: 10;
  border-radius: 4px;
}

.nav-item:hover .nav-dropmenu {
  display: block;
}

.nav-dropmenu-item a {
  height: 3.8rem;
  font-size: 1.15rem;
  transition: font-size 0.1s; /*过渡效果*/
}
.nav-dropmenu-item a:hover {
  background: rgb(128, 127, 127);
  opacity: 0.95;
  font-size: 1.25rem;
  border-radius: 4px;
}

.nav-search {
  float: right;
  width: 23rem;
  height: 3.8rem;
  line-height: 3.8rem;
  color: #fff;
}

.nav-search-change {
  display: inline-block;
  width: 3rem;
  height: 3.8rem;
  line-height: 3.8rem;
  text-align: center;
  position: relative;
}

.nav-search-change > .nav-dropmenu {
  display: none;
  position: absolute;
  top: 3.8rem;
  left: -6rem;
  width: 9rem;
  max-height: 50rem;
  background-color: rgb(46, 45, 45);
  opacity: 0.9;
  z-index: 10;
  border-radius: 4px;
}

.nav-search-change:hover .nav-dropmenu {
  display: block;
}

.search-input {
  position: relative;
  display: inline-block;
  width: 19.5rem;
  width: 19rem\9\0;/* IE9生效 */
  height: 2.2rem;
  outline: none;
  font-size: 0.9em;
  padding-left: 0.3em;
  border-radius: 0.2em;
  border: 1px solid #f7f1f1; /*默认*/
  -webkit-appearance: none;
}

.search-input:focus {
  border: 1px solid #7cd680; /*聚焦*/
  box-shadow: 0 0 0 2px rgba(68, 71, 70, 0.2);
}

.search-suggestions {
  /* display: none; */
  position: relative;
  left: 0;
  width: 23rem;
  background-color: rgb(46, 45, 45);
  opacity: 0.9;
  z-index: 10;
  border-radius: 4px;
}

.search-suggestion-item {
  overflow: hidden;
  width: 22.5rem;
  height: 3.2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  padding-left: 0.5rem;
  cursor: pointer;
}

.search-suggestion-item:hover {
  background: rgb(128, 127, 127);
  font-size: 1.25rem;
  border-radius: 4px;
}

/* main */
.main-container {
  margin-top: 70px;
  color: #fff;
}

.hi-container-fluid a {
  display: block;
  text-align: center;
}

/* bg */

.main-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  z-index: -10;
  filter: blur(2px);
}

.hi-panel {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  border:1px solid #fff;
  background-color: rgb(36, 35, 35);
  border-radius: 3px;
  margin: 0 7px 14px 7px;
  opacity: 0.8;
}

.hi-panel-heading{
  border-bottom:1px solid #fff;
  padding: 0.6rem
}

.hi-panel-body{
  overflow: hidden;/* 清除浮动造成的元素塌陷 */
}

.panel-title{
  height: 1.8rem;
  overflow: hidden;
  font-weight: 600
}

.hi-panel-body a{
  float: left;
  width: 33.333%;
  height: 3.2rem;
  line-height: 3.2rem;
  border-radius: 3px
}

.hi-panel-body a:hover{
  background: rgb(128, 127, 127);
}