body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%; /*10/16=62.5%*/
}

body {
  font-size: 12px;
  font-size: 1.2rem; /*12/10=1.2*/
  padding-bottom: env(safe-area-inset-bottom);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  font-size: 14px;
  font-size: 1.4rem;
}


.content {
  width: 98rem;
  margin: 0 auto;
}

/* header */
.nav {
  width: 100%;
  /* background-color: hsla(0, 0%, 95%, 0.4); */
  box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
}

.nav-header {
  margin: 0;
  padding: 0;
  width: 30rem;
  height: 3.8rem;
  display: inline-block;
  /* background-color: greenyellow */
  cursor: pointer;
}

.nav-item {
  display: inline-block;
  width: 4.5rem;
  height: 3.8rem;
  line-height: 3.8rem;
  text-align: center;
  position: relative;
}

.nav-item-text {
  display: inline-block;
  width: 4.5rem;
  height: 3.8rem;
  line-height: 3.8rem;
  position: relative;
}

.nav a {
  color: #fff;
  display: block;
}

.nav-logo {
  display: inline-block;
  height: 3.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.3rem
}

.nav-dropmenu {
  display: none;
  position: absolute;
  top: 3.8rem;
  left: 0;
  width: 9rem;
  max-height: 50rem;
  background-color: rgb(46, 45, 45);
  opacity: 0.9;
  z-index: 10;
  border-radius: 4px;
}

.nav-item:hover .nav-dropmenu {
  display: block;
}

.nav-dropmenu-item a {
  height: 3.8rem;
  font-size: 1.15rem;
  transition: font-size 0.1s; /*过渡效果*/
}
.nav-dropmenu-item a:hover {
  background: rgb(128, 127, 127);
  opacity: 0.95;
  font-size: 1.25rem;
  border-radius: 4px;
}

.nav-search {
  float: right;
  width: 20rem;
  height: 3.8rem;
  line-height: 3.8rem;
  color: #fff;
}

.nav-search-change:hover .nav-dropmenu {
  display: block;
}

.nav-search-change{
  display: inline-block;
  width: 3rem;
  height: 3.8rem;
  line-height: 3.8rem;
  text-align: center;
  position: relative;
}

.search-input {
  position: relative;
  display: inline-block;
  width: 16rem;
  height: 2.2rem;
  outline: none;
  font-size: 0.9em;
  padding: 0.3em;
  border-radius: 0.2em;
  border: 1px solid #f7f1f1;/*默认*/
  -webkit-appearance: none;
}

.search-input:focus{
    border: 1px solid #7cd680;/*聚焦*/
    box-shadow: 0 0 0 2px rgba(68, 71, 70, 0.2);
}

.search-suggestions{
  position: relative;
  left: 0;
  width: 20rem;
  background-color: rgb(46, 45, 45);
  opacity: 0.9;
  z-index: 10;
  border-radius: 4px;
}

.search-suggestion-item{
  overflow: hidden;
  width: 19.5rem;
  height: 3.2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  padding-left: 0.5rem;
  cursor: pointer;
}

.search-suggestion-item:hover{
  background: rgb(128, 127, 127);
  font-size: 1.25rem;
  border-radius: 4px;
}

/* main */
.main-container {
  width: 98rem;
  height: 45rem;
  margin-top:50px;
  color: #fff;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.main-container-item{
  display: inline-block;
  width: 6%;
  padding: 3rem;
}

.main-container-item-a img{
  width: 100%;
}

/* bg */

.main-bg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-position:center;
  background-size: cover;
  /* background-attachment: fixed; */
  z-index: -10;
  filter: blur(2px)
}